{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
    <div class="row">
<!DOCTYPE html>
<html>
<head>
    <title>Confirm Delete Product Delivery</title>
</head>
<body>
    <h1>Are you sure you want to delete this product delivery?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
    </form>
    <a href="{% url 'product_delivery_list' %}">No, go back</a>
</body>
</html>
</div>
</div>
</div>
{% endblock %}