
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
    <div class="row">
   
<!DOCTYPE html>
<html>
<head>
    <title>Destination Detail</title>
</head>
<body>
    <h1>Destination Detail</h1>
    <p>Starting Point: {{ destination.starting_point }}</p>
    <p>Destination Point: {{ destination.destination_point }}</p>
    <a href="{% url 'destination_list' %}">Back to Destination List</a>
</body>
</html>
</div>
</div>
</div>
{% endblock %}