<!DOCTYPE html>
<html>
<head>
    <title>Payment List</title>
</head>
<body>
    <h1>Payment List</h1>
    <a href="{% url 'payment_create' %}">Add New Payment</a>
    <ul>
        {% for payment in payments %}
            <li>
                <a href="{% url 'payment_detail' payment.pk %}">{{ payment.owner.name }} - {{ payment.amount }}</a> 
                (<a href="{% url 'payment_update' payment.pk %}">Edit</a> | 
                <a href="{% url 'payment_delete' payment.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
</body>
</html>
