
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
    <div class="row">
   
<head>
    <title>Car Ownership Detail</title>
</head>
<body>
    <h1>Car Ownership Detail</h1>
    <p><strong>Owner:</strong> {{ car_ownership.owner.name }}</p>
    <p><strong>Car:</strong> {{ car_ownership.car.registration_number }}</p>
    <p><strong>Driver:</strong> {{ car_ownership.driver.name }}</p>
    <a href="{% url 'car_ownership_list' %}">Back to Car Ownership List</a>
</body>

    </div>
    </div>
</div>
{% endblock %}

