<!DOCTYPE html>
<html>
<head>
    <title>Driver List</title>
</head>
<body>
    <h1>Driver List</h1>
    <a href="{% url 'driver_create' %}">Add New Driver</a>
    <ul>
        {% for driver in drivers %}
            <li>
                <a href="{% url 'driver_detail' driver.pk %}">{{ driver.name }}</a> 
                (<a href="{% url 'driver_update' driver.pk %}">Edit</a> | 
                <a href="{% url 'driver_delete' driver.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
</body>
</html>
