{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
    <div class="row">
<html>
<head>
    <title>Owner List</title>
</head>
<body>
    <h1>Owner List</h1>
    <a href="{% url 'owner_create' %}">Add New Owner</a>
    <ul>
        {% for owner in owners %}
            <li>
                <a href="{% url 'owner_detail' owner.pk %}">{{ owner.name }}</a> 
                (<a href="{% url 'owner_update' owner.pk %}">Edit</a> | 
                <a href="{% url 'owner_delete' owner.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
</body>
</html>
</div>
</div>
</div>
{% endblock %}