{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Login - Linfox</title>

<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.jpg' %}">

<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body class="account-page">

<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    <div class="login-logo">
                        <img src="{% static 'assets/img/logo.png' %}" alt="img">
                    </div>
                    <div class="login-userheading">
                        <h3>Sign In to Your Account</h3>
                        <h4>Access your dashboard</h4>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-login">
                            <label>Username</label>
                            <div class="form-addons">
                                <input type="text" name="username" placeholder="Enter your username" required>
                                <img src="{% static 'assets/img/icons/users1.svg' %}" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input type="password" name="password" class="pass-input" placeholder="Enter your password" required>
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-login">Login</button>
                        </div>
                        {% if form.errors %}
                            <div class="form-login">
                                <p style="color: red;">Invalid username or password. Please try again.</p>
                            </div>
                        {% endif %}
                    </form>
                    <div class="signinform text-center">
                        <h4>New user? <a href="{% url 'register' %}" class="hover-a">Create an Account</a></h4>
                    </div>
                  
                </div>
            </div>
            <div class="login-img">
                <img src="{% static 'assets/img/bg.svg' %}" alt="Login Image" >
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/feather.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
