{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
    <div class="row">

    <h1>{{ car.pk|yesno:"Edit Car,Add New Car" }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="registration_number">Registration Number:</label>
        <input type="text" id="registration_number" name="registration_number" value="{{ car.registration_number|default_if_none:'' }}">
        <br>
        <label for="make">Make:</label>
        <input type="text" id="make" name="make" value="{{ car.make|default_if_none:'' }}">
        <br>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" value="{{ car.model|default_if_none:'' }}">
        <br>
        <label for="fuel_type">Fuel Type:</label>
        <input type="text" id="fuel_type" name="fuel_type" value="{{ car.fuel_type|default_if_none:'' }}">
        <br>
        <button type="submit">{{ car.pk|yesno:"Update,Create" }}</button>
    </form>
    <a href="{% url 'car_list' %}">Back to Car List</a>
</div>
</div>
</div>
{% endblock %}
