
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
    <div class="row">
    
<!DOCTYPE html>
<html>
<head>
    <title>Car Detail</title>
</head>
<body>
    <h1>Car Detail</h1>
    <p>Registration Number: {{ car.registration_number }}</p>
    <p>Make: {{ car.make }}</p>
    <p>Model: {{ car.model }}</p>
    <p>Fuel Type: {{ car.fuel_type }}</p>
    <a href="{% url 'car_list' %}">Back to Car List</a>
</body>
</html>
</div>
</div>
</div>
{% endblock %}