{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Car</h4>
                <h6>{{ car.pk|yesno:"Edit car,Add New car" }}</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="registration_number">Registration Number:</label>
                            <input type="text" id="registration_number" name="registration_number" value="{{ car.registration_number|default_if_none:'' }}">
                        </div>
                        <div class="form-group">
                            <label for="chassis_number">Chassis Number:</label>
                            <input type="text" id="chassis_number" name="chassis_number" value="{{ car.chassis_number|default_if_none:'' }}">
                        </div>
                        <div class="form-group">
                            <label for="model">Model:</label>
                            <select id="model" name="model">
                                {% for value, display in model_choices %}
                                    <option value="{{ value }}" {% if value == car.model %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fuel_type">Fuel Type:</label>
                            <select id="fuel_type" name="fuel_type">
                                {% for value, display in fuel_type_choices %}
                                    <option value="{{ value }}" {% if value == car.fuel_type %}selected{% endif %}>{{ display }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-submit me-2">{{ car.pk|yesno:"Update,Create" }}</button>
                            <a href="{% url 'car_list' %}" class="btn btn-cancel">Cancel</a>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
