{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
    <div class="row">

    <h1>Car List</h1>
    <a href="{% url 'car_create' %}">Add New Car</a>
    <ul>
        {% for car in cars %}
            <li>
                <a href="{% url 'car_detail' car.pk %}">{{ car.registration_number }}</a> 
                (<a href="{% url 'car_update' car.pk %}">Edit</a> | 
                <a href="{% url 'car_delete' car.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
    </div>
    </div>
</div>
{% endblock %}